<nav class="navbar navbar-expand-md navbar-dark">
    <a [routerLink]="['/menu-item-list']" class="navbar-brand">
        <span class="material-icons align-middle">restaurant_menu</span>truyum
    </a>
    <button role="button" class="navbar-toggler" data-toggle="collapse" data-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a [routerLink]="['/menu-item-list']" class="nav-link text-light">Menu Items</a>
            </li>
            <li *ngIf="!user.isAdmin" class="nav-item"><a [routerLink]="['/cart']" class="nav-link text-light">Cart</a>
            </li>
            <li class="nav-item"><a href="/logged-in-admin.html" class="nav-link text-light">
                    <span class="material-icons align-middle">
                        person
                    </span>{{user.firstName + user.lastName}}</a></li>
            <li class="nav-item"><a [routerLink]="['/sign-out']" class="nav-link text-light">Signout</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-md-12">
            <div class="card mb-3" style="max-width: 540px; background-color: #f6f6f6;">
                <div class="row">
                  request denied
                </div>
              </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container-fluid accent text-light">
        <p class="m-0">Copyright 2020</p>
    </div>
</footer>
